/* Wrapper style 
 * Wrapper = #wrapper 
 * Sidebar = #side-wrapper
 */
#wrapper {
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.animating, .animating #side-wrapper {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#wrapper, #wrapper.minimized.animating {
    padding-left: 194px;
}

#side-wrapper, #wrapper.minimized.animating #side-wrapper {
    padding-left: 0;
    left: 0;
}

#wrapper.minimized #side-wrapper, #wrapper.animating #side-wrapper {
    padding-left: 140px;
    left: -140px;
}

#wrapper.minimized, #wrapper.animating {
    padding-left: 54px;
}

#side-wrapper {
    position: absolute;
    width: 194px;
    height: 100%;
    color: #a7b1c2;
    white-space: nowrap;
    overflow-x: hidden;
    background: #2F4050;
}

/* Sidebar Toggle style */
.navbar-brand[data-toggle="sidebar"] {
    color: #00B9AC;
}

.navbar-brand[data-toggle="sidebar"]:focus, .navbar-brand[data-toggle="sidebar"]:hover {
    color: #00A095;
}

/* Sidebar Header style */
#side-wrapper > .media {
    padding: 25px 15px;
    background: url("../img/header-profile.png") no-repeat;
    border-bottom: 1px solid #243442;
}

#side-wrapper > .media .media-object {
    max-height: 42px;
}

.minimized #side-wrapper > .media {
    padding: 4px 6px;
}

.minimized #side-wrapper > .media .media-object {
    border-radius: 50%;
}

/* Sidebar Nav style */
#side-wrapper > .nav-stacked > li + li {
    margin-top: 0;
    margin-left: 0;
}

#side-wrapper > .nav.nav-pills > li > a {
    color: #a7b1c2;
    border-radius: 0;
}

#side-wrapper > .nav.nav-pills > li > a:focus, #side-wrapper > .nav.nav-pills > li > a:hover, #side-wrapper > .nav .open > a, #side-wrapper > .nav .open > a:focus, #side-wrapper > .nav .open > a:hover {
    color: #00B9AC;
    background-color: #293846;
}

#side-wrapper > .nav.nav-pills > li.dropdown > a > .caret {
    position: absolute;
    top: 18px;
    right: 12px;
    transform: rotate(90deg);
}

#side-wrapper > .nav.nav-pills > li.dropdown.open {
    border-left: 3px solid #00B9AC;
}

#side-wrapper > .nav.nav-pills > li.dropdown.open > a > .caret {
    transform: rotate(0);
}

#side-wrapper > .nav.nav-pills > li > .dropdown-menu {
    margin: 0;
    padding: 0;
    position: relative;
    float: none;
    background-color: #243442;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#side-wrapper > .nav.nav-pills > li > .dropdown-menu > li:before {
    content: " ";
    margin-left: 20px;
    display: inline-block;
    width: 3px;
    height: 3px;
    vertical-align: middle;
    background-color: #2F4050;
    border-radius: 50%;
}

#side-wrapper > .nav.nav-pills > li > .dropdown-menu > li > a {
    margin-left: -2px;
    display: inline-block;
    color: #a7b1c2;
    border-left: 1px solid #2F4050;
}

#side-wrapper > .nav.nav-pills > li > .dropdown-menu > li > a:focus, #side-wrapper > .nav.nav-pills > li > .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: transparent;
}
.dr-icon-user:before {
	content: "\e001";
}